input, textare{
  width:100%;
}
h1{
  font-style:oblique;
  text-align: center;
}
h2{
  text-align:left;
}
footer {
    position:fixed;
    background-color: red;/* For browsers that do not support gradients */
     background-image: radial-gradient(circle, red, yellow, green);
    bottom:0;
    left:0;
    width: 100%; 
    height: 5%;
}
header{
   background-color: #279CF5;
   display: block;
   align-items: space-between;
   padding: 15px 40px;
   justify-content: center;
}
a{
    text-decoration: none;
    color: white;
    font-size:30px;
    margin-left:10px;
}
.tup1{
  background-color: #279CF5;
  height: 450px ;
  width: 450px ;
  border-radius: 10px;
  margin-left: 20px;
}
.parent{
  display: flex;
  margin:10px;
}
form{
  background-color: cornsilk;
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
  display: flex;
  flex-direction: column;
}
label{
  font-size: 16px;
  color: #333;
}
input{
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
input[type="text"]{
  margin-bottom: 8px;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
}
.nkar1{
  width: 500px;
  height: 500px;
}




